# Visual Studio
.vs/

# User-specific files
*.suo
*.user
*.suo
*.user
*.userprefs
*.sln.docstates
*.suo
*.user
*.suo
*.user
*.userprefs
*.sln.docstates
*.suo
*.user
*.suo
*.user
*.userprefs
*.sln.docstates

# Compiled binary files
obj/
Debug/
Release/
Publish/
*.zip

# Signature
sign.bat